body{
    margin:0;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

}
body:before{
    content:"";
    width: 100%;
    min-height: 750vh;
    position: absolute;
    top: 0;
    left:0;
    background: linear-gradient(90deg,rgb(159, 165, 165),rgb(173, 191, 192));
    opacity: 0.7;
    z-index:-1;

}
header{

    font-family: 'Times New Roman', Times, serif;
    font-size: 42px;
    text-align: center;
    color: rgb(24, 23, 23);
}
h2{
    font-family: 'Times New Roman', Times, serif;
    color: rgb(235, 97, 97);
    font-size: 30px;
    text-align: center;

}
p{

font-family: 'Times New Roman', Times, serif;
color: rgb(19, 18, 18);
font-size: 25px;
text-align: justify;
}
a{
    text-align: center;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}